html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.title {
    display: flex;
    background-color: #FFDFBA;
    justify-content: flex-start;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title p {
    padding-left: 15px;
}

.historic {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.msg-box {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 125px;
    border-radius: 5px;
    background-color: #FFDFBA;
    border: solid 1px;
}

.msg-input {
    width: 270px;
    height: 110px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    resize: none;
}

.btn-send {
    background-color: #FFB3BA;
    height: 30px;
    transition: 0.2s;
    font-size: 15px;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
}

.btn-send:hover {
    background-color: #E2FFBA;
    
}

.msg-chat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
}

.msg-chat p{
    background-color: #E2FFBA;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 5px;
    min-width: 100px;
    word-break: break-word;
}

.edit {
    background-color: #D4FFF1;
    height: 20px;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 2px;
}

.exclude {
    background-color: #F34F41;
    height: 20px;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
}